In [1]:
pip install mlxtend

Requirement already satisfied: mlxtend in /Users/miriamcorona/opt/anaconda3/lib/python3.7/site-packages (0.18.0)
Requirement already satisfied: numpy>=1.16.2 in /Users/miriamcorona/opt/anaconda3/lib/python3.7/site-packages (from mlxtend) (1.18.1)
Requirement already satisfied: scikit-learn>=0.20.3 in /Users/miriamcorona/opt/anaconda3/lib/python3.7/site-packages (from mlxtend) (0.22.1)
Requirement already satisfied: pandas>=0.24.2 in /Users/miriamcorona/opt/anaconda3/lib/python3.7/site-packages (from mlxtend) (1.2.1)
Requirement already satisfied: joblib>=0.13.2 in /Users/miriamcorona/opt/anaconda3/lib/python3.7/site-packages (from mlxtend) (0.14.1)
Requirement already satisfied: scipy>=1.2.1 in /Users/miriamcorona/opt/anaconda3/lib/python3.7/site-packages (from mlxtend) (1.7.0)
Requirement already satisfied: matplotlib>=3.0.0 in /Users/miriamcorona/opt/anaconda3/lib/python3.7/site-packages (from mlxtend) (3.3.4)
Requirement already satisfied: setuptools in /Users/miriamcorona/opt/anaconda3/lib/python3.7/site-packages (from mlxtend) (46.0.0.post20200309)
Requirement already satisfied: pytz>=2017.3 in /Users/miriamcorona/opt/anaconda3/lib/python3.7/site-packages (from pandas>=0.24.2->mlxtend) (2019.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/miriamcorona/opt/anaconda3/lib/python3.7/site-packages (from pandas>=0.24.2->mlxtend) (2.8.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/miriamcorona/opt/anaconda3/lib/python3.7/site-packages (from matplotlib>=3.0.0->mlxtend) (1.1.0)
Requirement already satisfied: cycler>=0.10 in /Users/miriamcorona/opt/anaconda3/lib/python3.7/site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in /Users/miriamcorona/opt/anaconda3/lib/python3.7/site-packages (from matplotlib>=3.0.0->mlxtend) (2.4.6)
Requirement already satisfied: pillow>=6.2.0 in /Users/miriamcorona/opt/anaconda3/lib/python3.7/site-packages (from matplotlib>=3.0.0->mlxtend) (7.0.0)
Requirement already satisfied: six>=1.5 in /Users/miriamcorona/opt/anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas>=0.24.2->mlxtend) (1.14.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import numpy as np 
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori

In [3]:
df = pd.read_csv('churn_clean.csv')

In [4]:
for column in df:
    unique_vals = np.unique(df[column])
    nr_values = len(unique_vals)
    if nr_values < 36:
        print('The number of values for feature {} :{} -- {}'.format(column, nr_values, unique_vals))
    else:
        print('The number of values for feature {} :{}'.format(column, nr_values))

The number of values for feature CaseOrder :10000
The number of values for feature Customer_id :10000
The number of values for feature Interaction :10000
The number of values for feature UID :10000
The number of values for feature City :6058
The number of values for feature State :52
The number of values for feature County :1620
The number of values for feature Zip :8583
The number of values for feature Lat :8563
The number of values for feature Lng :8630
The number of values for feature Population :5933
The number of values for feature Area :3 -- ['Rural' 'Suburban' 'Urban']
The number of values for feature TimeZone :25 -- ['America/Anchorage' 'America/Boise' 'America/Chicago' 'America/Denver'
 'America/Detroit' 'America/Indiana/Indianapolis' 'America/Indiana/Knox'
 'America/Indiana/Marengo' 'America/Indiana/Petersburg'
 'America/Indiana/Tell_City' 'America/Indiana/Vincennes'
 'America/Indiana/Winamac' 'America/Juneau' 'America/Kentucky/Louisville'
 'America/Los_Angeles' 'America/Menominee' 'America/New_York'
 'America/Nome' 'America/North_Dakota/New_Salem' 'America/Ojinaga'
 'America/Phoenix' 'America/Puerto_Rico' 'America/Sitka' 'America/Toronto'
 'Pacific/Honolulu']
The number of values for feature Job :639
The number of values for feature Children :11 -- [ 0  1  2  3  4  5  6  7  8  9 10]
The number of values for feature Age :72
The number of values for feature Income :9993
The number of values for feature Marital :5 -- ['Divorced' 'Married' 'Never Married' 'Separated' 'Widowed']
The number of values for feature Gender :3 -- ['Female' 'Male' 'Nonbinary']
The number of values for feature Churn :2 -- ['No' 'Yes']
The number of values for feature Outage_sec_perweek :9986
The number of values for feature Email :23 -- [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23]
The number of values for feature Contacts :8 -- [0 1 2 3 4 5 6 7]
The number of values for feature Yearly_equip_failure :6 -- [0 1 2 3 4 6]
The number of values for feature Techie :2 -- ['No' 'Yes']
The number of values for feature Contract :3 -- ['Month-to-month' 'One year' 'Two Year']
The number of values for feature Port_modem :2 -- ['No' 'Yes']
The number of values for feature Tablet :2 -- ['No' 'Yes']
The number of values for feature InternetService :3 -- ['DSL' 'Fiber Optic' 'None']
The number of values for feature Phone :2 -- ['No' 'Yes']
The number of values for feature Multiple :2 -- ['No' 'Yes']
The number of values for feature OnlineSecurity :2 -- ['No' 'Yes']
The number of values for feature OnlineBackup :2 -- ['No' 'Yes']
The number of values for feature DeviceProtection :2 -- ['No' 'Yes']
The number of values for feature TechSupport :2 -- ['No' 'Yes']
The number of values for feature StreamingTV :2 -- ['No' 'Yes']
The number of values for feature StreamingMovies :2 -- ['No' 'Yes']
The number of values for feature PaperlessBilling :2 -- ['No' 'Yes']
The number of values for feature PaymentMethod :4 -- ['Bank Transfer(automatic)' 'Credit Card (automatic)' 'Electronic Check'
 'Mailed Check']
The number of values for feature Tenure :9996
The number of values for feature MonthlyCharge :750
The number of values for feature Bandwidth_GB_Year :10000
The number of values for feature Item1 :7 -- [1 2 3 4 5 6 7]
The number of values for feature Item2 :7 -- [1 2 3 4 5 6 7]
The number of values for feature Item3 :8 -- [1 2 3 4 5 6 7 8]
The number of values for feature Item4 :7 -- [1 2 3 4 5 6 7]
The number of values for feature Item5 :7 -- [1 2 3 4 5 6 7]
The number of values for feature Item6 :8 -- [1 2 3 4 5 6 7 8]
The number of values for feature Item7 :7 -- [1 2 3 4 5 6 7]
The number of values for feature Item8 :8 -- [1 2 3 4 5 6 7 8]

In [5]:
df.dtypes

CaseOrder                 int64
Customer_id              object
Interaction              object
UID                      object
City                     object
State                    object
County                   object
Zip                       int64
Lat                     float64
Lng                     float64
Population                int64
Area                     object
TimeZone                 object
Job                      object
Children                  int64
Age                       int64
Income                  float64
Marital                  object
Gender                   object
Churn                    object
Outage_sec_perweek      float64
Email                     int64
Contacts                  int64
Yearly_equip_failure      int64
Techie                   object
Contract                 object
Port_modem               object
Tablet                   object
InternetService          object
Phone                    object
Multiple                 object
OnlineSecurity           object
OnlineBackup             object
DeviceProtection         object
TechSupport              object
StreamingTV              object
StreamingMovies          object
PaperlessBilling         object
PaymentMethod            object
Tenure                  float64
MonthlyCharge           float64
Bandwidth_GB_Year       float64
Item1                     int64
Item2                     int64
Item3                     int64
Item4                     int64
Item5                     int64
Item6                     int64
Item7                     int64
Item8                     int64
dtype: object

In [6]:
df.columns

Index(['CaseOrder', 'Customer_id', 'Interaction', 'UID', 'City', 'State',
       'County', 'Zip', 'Lat', 'Lng', 'Population', 'Area', 'TimeZone', 'Job',
       'Children', 'Age', 'Income', 'Marital', 'Gender', 'Churn',
       'Outage_sec_perweek', 'Email', 'Contacts', 'Yearly_equip_failure',
       'Techie', 'Contract', 'Port_modem', 'Tablet', 'InternetService',
       'Phone', 'Multiple', 'OnlineSecurity', 'OnlineBackup',
       'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies',
       'PaperlessBilling', 'PaymentMethod', 'Tenure', 'MonthlyCharge',
       'Bandwidth_GB_Year', 'Item1', 'Item2', 'Item3', 'Item4', 'Item5',
       'Item6', 'Item7', 'Item8'],
      dtype='object')

In [7]:
df = df.drop(['CaseOrder', 'Customer_id', 'Interaction', \
         'UID', 'City','County', 'Zip', 'Lat', 'Lng',\
         'County', 'Zip', 'Lat', 'Lng', 'TimeZone',\
        'Item1', 'Item2', 'Item3', 'Item4', 'Item5',
       'Item6', 'Item7', 'Item8','State','Population',\
        'Children', 'Age', 'Income', 'Outage_sec_perweek', 'Email', 'Contacts', 'Yearly_equip_failure',\
        'Tenure', 'MonthlyCharge','Bandwidth_GB_Year'], axis = 1)

In [8]:
df.head()

,Area,Job,Marital,Gender,Churn,Techie,Contract,Port_modem,Tablet,InternetService,Phone,Multiple,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,PaperlessBilling,PaymentMethod
0,Urban,Environmental health practitioner,Widowed,Male,No,No,One year,Yes,Yes,Fiber Optic,Yes,No,Yes,Yes,No,No,No,Yes,Yes,Credit Card (automatic)
1,Urban,"Programmer, multimedia",Married,Female,Yes,Yes,Month-to-month,No,Yes,Fiber Optic,Yes,Yes,Yes,No,No,No,Yes,Yes,Yes,Bank Transfer(automatic)
2,Urban,Chief Financial Officer,Widowed,Female,No,Yes,Two Year,Yes,No,DSL,Yes,Yes,No,No,No,No,No,Yes,Yes,Credit Card (automatic)
3,Suburban,Solicitor,Married,Male,No,Yes,Two Year,No,No,DSL,Yes,No,Yes,No,No,No,Yes,No,Yes,Mailed Check
4,Suburban,Medical illustrator,Separated,Male,Yes,No,Month-to-month,Yes,No,Fiber Optic,No,No,No,No,No,Yes,Yes,No,No,Mailed Check

In [9]:
for column in df:
    unique_vals = np.unique(df[column])
    nr_values = len(unique_vals)
    if nr_values < 36:
        print('The number of values for feature {} :{} -- {}'.format(column, nr_values, unique_vals))
    else:
        print('The number of values for feature {} :{}'.format(column, nr_values))

The number of values for feature Area :3 -- ['Rural' 'Suburban' 'Urban']
The number of values for feature Job :639
The number of values for feature Marital :5 -- ['Divorced' 'Married' 'Never Married' 'Separated' 'Widowed']
The number of values for feature Gender :3 -- ['Female' 'Male' 'Nonbinary']
The number of values for feature Churn :2 -- ['No' 'Yes']
The number of values for feature Techie :2 -- ['No' 'Yes']
The number of values for feature Contract :3 -- ['Month-to-month' 'One year' 'Two Year']
The number of values for feature Port_modem :2 -- ['No' 'Yes']
The number of values for feature Tablet :2 -- ['No' 'Yes']
The number of values for feature InternetService :3 -- ['DSL' 'Fiber Optic' 'None']
The number of values for feature Phone :2 -- ['No' 'Yes']
The number of values for feature Multiple :2 -- ['No' 'Yes']
The number of values for feature OnlineSecurity :2 -- ['No' 'Yes']
The number of values for feature OnlineBackup :2 -- ['No' 'Yes']
The number of values for feature DeviceProtection :2 -- ['No' 'Yes']
The number of values for feature TechSupport :2 -- ['No' 'Yes']
The number of values for feature StreamingTV :2 -- ['No' 'Yes']
The number of values for feature StreamingMovies :2 -- ['No' 'Yes']
The number of values for feature PaperlessBilling :2 -- ['No' 'Yes']
The number of values for feature PaymentMethod :4 -- ['Bank Transfer(automatic)' 'Credit Card (automatic)' 'Electronic Check'
 'Mailed Check']

In [10]:
df.shape

(10000, 20)

In [11]:
df = pd.get_dummies(df)

In [12]:
df

,Area_Rural,Area_Suburban,Area_Urban,Job_Academic librarian,Job_Accommodation manager,"Job_Accountant, chartered","Job_Accountant, chartered certified","Job_Accountant, chartered management","Job_Accountant, chartered public finance",Job_Accounting technician,...,StreamingTV_No,StreamingTV_Yes,StreamingMovies_No,StreamingMovies_Yes,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank Transfer(automatic),PaymentMethod_Credit Card (automatic),PaymentMethod_Electronic Check,PaymentMethod_Mailed Check
0,0,0,1,0,0,0,0,0,0,0,...,1,0,0,1,0,1,0,1,0,0
1,0,0,1,0,0,0,0,0,0,0,...,0,1,0,1,0,1,1,0,0,0
2,0,0,1,0,0,0,0,0,0,0,...,1,0,0,1,0,1,0,1,0,0
3,0,1,0,0,0,0,0,0,0,0,...,0,1,1,0,0,1,0,0,0,1
4,0,1,0,0,0,0,0,0,0,0,...,0,1,1,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1,0,0,0,0,0,0,0,0,0,...,1,0,1,0,1,0,0,0,1,0
9996,1,0,0,0,0,0,0,0,0,0,...,0,1,1,0,1,0,0,0,1,0
9997,1,0,0,0,0,0,0,0,0,0,...,1,0,1,0,0,1,1,0,0,0
9998,0,0,1,0,0,0,0,0,0,0,...,0,1,0,1,0,1,0,1,0,0
9999,0,0,1,0,0,0,0,0,0,0,...,1,0,0,1,0,1,0,0,1,0

In [13]:
df.shape

(10000, 686)

#This section would have been used if the items were in one column.

#encoder = TransactionEncoder().fit(df)
#onehot = encoder.transform(df)
#onehot = encoder.transform(df)

In [14]:
frequent_items = apriori(df, min_support = .0005, max_len = 3, use_colnames = True)

In [15]:
print(len(frequent_items))

155245

In [16]:
print(frequent_items.head())

   support                     itemsets
0   0.3327                 (Area_Rural)
1   0.3346              (Area_Suburban)
2   0.3327                 (Area_Urban)
3   0.0020     (Job_Academic librarian)
4   0.0018  (Job_Accommodation manager)